header {
    background: rgb(255, 255, 255);
    padding: 0px 0;
}

body {
    background:rgb(26, 26, 26)
}

.caixa {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 70px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;


}

nav a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 50px
}

nav a:hover {
    color: #000000;
    font-weight: 900;
}

h1 {
    color: rgb(243, 242, 242);
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}

::selection {
    color: rgb(122, 122, 122);
    outline: 2px solid #fff;
}



h2 {
    color: rgb(255, 255, 255);
    font-size: 33px;
    margin-top: 20px;
}

h3 {
    color: aliceblue;
}

p {
    color: aliceblue;
    font-size: 30px;
    text-align: justify;
}

img {
    width: 50%;
    border-radius: 5%;
}

.alinhar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 20px;
    font-size: 45px;
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 40px;
}

.div {
    text-align: center;
    margin: 200px;
    margin-top: 10px;
    font-family: Oswald, sans-serif;
}

footer {
    text-align: center;
    background-color: #ffffff;
    padding: 35px 0 0;

}

.foot img {
    width: 4%;
}

.foot p {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
   
    .caixa,  .alinhar, .div, .foot {
        width: auto;
    }
    .div {
        margin: 10px;
    }

    .alinhar {
        display: block;
        margin-top: 2px;
    }
    h1 {
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 2px;
    }

    p {
        font-size: 17px;
    }

    img {
        width: 80%;
        margin: 10%;
    }

    .joao {
        opacity: 0;
        width: 0px;
    }

    nav {
        position: static;
    }

    footer  {
        padding: 5px 0 0;
    }

    .foot img {
        width: 10%;
    }
}

